.description {
  text-align: left;
  font-family: var(--font-body);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  width: 52%;
}

.titlelarge {
  font-family: var(--font-small-subtitle);
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-align: left;
}

.text {
  font-weight: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 47px;
  margin-left: 99px;
  margin-right: 99px;
  margin-top: 108px;
  margin-bottom: 89px;
}

/*For the images*/
.imageContainer {
  width: 37%;
  position: relative;
  bottom: 500px;
  left: 800px;
  margin-bottom: -300px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  row-gap: 32px;
  column-gap: 32px;
}

/*For the Value Cards*/
.rectangleContainer {
  width: 100%; /*make the size of the container respective to the page*/
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 22px;
}
