@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap");

.description {
  text-align: left;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  width: 52%;
}

.subtitle {
  font: var(--font-small-subtitle);
  font-size: 32px;
  line-height: 150%; /* 48px */
  letter-spacing: 0.64px;
}

.titlelarge {
  font-family: 'Roboto Slab';
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-align: left;
}

.customRectangle {
  width: 401px;
  height: 434px;
  border-radius: 10px;
  background-color: #694C97;
  position: relative;
}

.rectangleContainer {
  width: 100%; /*make the size of the container respective to the page*/
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}


.text {
  font-weight: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 47px;
  margin-left: 99px;
  margin-right: 99px;
  margin-top: 53px;
  margin-bottom: 64px;
}

.circleWhite {
  width: 146.35px;
  height: 147px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  transform: translate(25%, 25%);
  overflow: hidden;
}

.centeredImage {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.RectangleTitle {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 32px;
  font-weight: 480;
  line-height: 48px;
  letter-spacing: 3%;
  transform: translate(10%, 150%);
  color: white;


}

.BodytextInsideRectangle {
  text-align: left;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  width: 85%;
  transform: translate(12%, 78%);
  color: white;

}