@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto+Slab:wght@100..900&display=swap");

.description {
  text-align: left;
  font-variant-ligatures: var(--font-body);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.titlelarge {
  font: var(--font-small-subtitle);
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-align: left;
}

.popup {
  z-index: 1002;
}

.text {
  font-weight: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* gap: 47px; */
}

.content {
  width: 100%;
  white-space: pre-wrap;
  font: var(--font-body);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.description {
  text-align: left;
  font: var(--font-body);
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.subtitle {
  font: var(--font-small-subtitle);
  font-size: 32px;
  font-weight: 700;
  line-height: 150%; /* 48px */
  letter-spacing: 0.64px;
}

.subtitleSmaller {
  font: var(--font-small-subtitle);
  font-size: 27px;
  font-weight: 700;
  line-height: 150%; /* 48px */
  letter-spacing: 0.64px;
}

.subtitleSharePost {
  font: var(--font-small-subtitle);
  font-size: 22px;
  font-weight: 700;
  line-height: 150%; /* 48px */
  letter-spacing: 0.64px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 47px;
  margin-left: 99px;
  margin-right: 99px;
  margin-top: 53px;
  margin-bottom: 64px;
}

.containerCardsAndText {
  display: flex;
  flex-direction: row; /* Make the children stack horizontally */
  justify-content: space-between; /* Space out the children, pushing them to opposite ends */
  width: 100%; /* Ensure the container takes up the full width */
}
