@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap");

.imageWrap {
  margin: 0;
  padding: 0;
  height: 47vw;
  position: relative;
  width: 100%;
  background-color: #484848;
  opacity: 0.4;
  overflow: hidden;
}

.titleText {
  position: absolute;
  margin: 0;
  padding: 13vw 7vw 21vw;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.titleXLarge {
  font: var(--font-xl-title);
}
.bodyMedReg {
  font: var(--font-body);
}
.body {
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
  padding: 0px 98px 136px;
  background-color: #f9f9f9;
  color: black;
}
.bodyTitle {
  margin: 0;
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 24px;
}
.titleLarge {
  font: var(--font-l-title);
}
.bodyNormReg {
  font: var(--font-body-normal-reg);
}
.eventsContainer {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 91px;
}
