.page {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding-left: 97px;
  padding-right: 97px;
  padding-top: 110px;
  padding-bottom: 124px;
}

.title {
  font-family: var(--font-small-subtitle);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 72px */
  letter-spacing: 0.96px;
}

.description {
  text-align: left;
  font-family: var(--font-body);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.text {
  font-weight: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 18px;
}

/* To hold contact cards */
.contactContainer {
  position: relative;
  left: 42px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 73px;
  margin-top: 32px;
}

/*For elements in Stay Connected*/
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items at the top */
}
.imageContainer {
  flex: 0 0 auto; /* Don't allow the image container to grow */
  margin-top: 150px;
  margin-right: 20px;
}
.formContainer {
  flex: 1; /* Allow the form container to grow to fill remaining space */
  margin-top: 115px;
  background-color: white;
  width: 1036px;
  height: 703px;
}
