.fullContainer {
  margin-left: 5.4861vw;
  width: 71.944vw;
  height: 29.653vw;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--Neutral-White, #fff);
}

.fullImage {
  position: absolute;
  width: 35.903vw;
  height: 37.431vw;
  margin-top: -3.6806vw;
  margin-left: -9.0972vw;
  z-index: 1;
}

.blueRing {
  width: 2.4306vw;
  height: 2.4306vw;
  margin-top: 31.944vw;
  margin-left: 31.875vw;
}

.cardContainer {
  position: relative;
  margin-left: 26.806vw;
  margin-top: 6.8056vw;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25vw;
  width: 42.431vw;
  height: 12.5vw;
}

.ourContainer {
  color: var(--Neutral-Black, #000);
  /* Body/Normal (Reg) */
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.titleContainer {
  color: var(--Neutral-Black, #000);
  /* Title/Large */
  font-family: "Roboto Slab";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */
  letter-spacing: 0.64px;
}

.textContainer {
  width: 42.431vw;
  color: var(--Neutral-Black, #000);
  /* Body/Normal (Reg) */
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.buttonContainer {
  position: relative;
  display: inline-flex;
  height: 3.3333vw;
  width: 11.597vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.69444vw;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--Primary, #694c97);
}

.buttonText {
  color: var(--Neutral-White, #fff);
  text-align: center;
  /* Body/Medium (Bold) */
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  letter-spacing: 0.4px;
}
