.fullContainer {
  margin-left: 10.417vw; /*202-52*/
  width: 71.944vw;
  height: 29.653vw;
  flex-shrink: 0;
  border-radius: 0.69444vw;
  background: var(--Neutral-White, #fff);
}

.fullImage {
  position: absolute;
  width: 36.389vw;
  height: 33.333vw;
  margin-top: -3.6806vw;
  margin-left: -9.0972vw;
  z-index: 1;
}

.blueRing {
  width: 13.889vw;
  height: 13.889vw;
  margin-top: 1.1111vw;
  margin-left: 11.25vw;
}

.blueRing circle {
  cx: 6.9444vw;
  cy: 6.9444vw;
  r: 6.9444vw;
}

.cardContainer {
  position: relative;
  margin-left: 26.806vw;
  margin-top: 6.8056vw;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25vw;
  width: 42.431vw;
  height: 15.417vw;
}

.ourContainer {
  color: var(--Neutral-Black, #000);
  /* Body/Normal (Reg) */
  font-family: "Open Sans";
  font-size: 1.1111vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6667vw; /* 150% */
}

.titleContainer {
  color: var(--Neutral-Black, #000);
  /* Title/Large */
  font-family: "Roboto Slab";
  font-size: 2.2222vw;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */
  letter-spacing: 0.044444vw;
}

.textContainer {
  width: 42.431vw;
  color: var(--Neutral-Black, #000);
  /* Body/Normal (Reg) */
  font-family: "Open Sans";
  font-size: 1.1111vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6667vw; /* 150% */
}

.buttonContainer {
  position: relative;
  display: inline-flex;
  height: 3.3333vw;
  width: 11.597vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.69444vw;
  flex-shrink: 0;
  border-radius: 0.27778vw;
  background: var(--Primary, #694c97);
}

.buttonText {
  color: var(--Neutral-White, #fff);
  text-align: center;
  /* Body/Medium (Bold) */
  font-family: "Open Sans";
  font-size: 1.3889vw;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  letter-spacing: 0.027778vw;
}
