.card {
  display: flex;
  flex-direction: row;
  width: 1238px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.rectangleContainerLeft {
  width: 1060px;
  height: 427px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  margin-right: auto;
}

.rectangleContainerRight {
  width: 1060px;
  height: 427px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
}

.contentRight {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-left: 388px;
  margin-right: 37px;
  margin-top: 100px;
  margin-bottom: 80px;
}

.contentLeft {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-left: 58px;
  margin-right: 408px;
  margin-top: 79px;
  margin-bottom: 102px;
}

.subtitleText {
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.titleText {
  font-family: "Roboto Slab";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */
  letter-spacing: 0.64px;
}

.descriptionText {
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.imageContainerRight {
  position: absolute;
  right: 0;
  width: 526px;
  height: 368px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.imageContainerLeft {
  position: absolute;
  left: 0;
  width: 526px;
  height: 368px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
