/* Button */
.button {
  width: max-content;
  height: 48px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: var(--color-primary-purple);
  border-radius: 4px;
  padding: 12px 24px 10px;
}

/* Body/Medium (Bold) */
.buttonBody {
  font: var(--font-body);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  /* Center align text */
  text-align: center;

  color: white;
}
