.collapsible {
  background-color: #f3edf9;
  cursor: pointer;

  width: 100%;
  height: 38px;
  padding: 7px 12px;
  border: none;
  text-align: left;
  outline: none;
  font: var(--font-body-reg);

  display: flex;
  direction: row;
  align-items: center;
  gap: 8px; /* Between Arrow, Bar title */
}

.content {
  padding: 16px 32px 0px;
  background-color: #ffffff;
  color: #484848;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.subtitle {
  margin-bottom: 2px;
}

.basicInput {
  font-size: 14px;
  width: 100%;
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px;
  padding: 6px 12px;
}

.imageInput {
  font-size: 14px;
  width: auto;
  height: auto;
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px;
  padding: 6px 12px;
}
