@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto+Slab:wght@100..900&display=swap");

.form {
  font: var(--font-body);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 40px 73px;
  color: #484848;
}

/* Style for short text box */
.inputShort {
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px;
  padding: 8px; /* Padding for text input */
  margin: 5px 0 16px; /* Margin between text inputs */
  width: 288px;
  height: 36px;
}

/* Style for long text box */
.inputLong {
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px;
  padding: 8px; /* Padding for text input */
  margin: 5px 0 16px; /* Margin between text inputs */
  width: 594px;
  height: 36px;
}

/* Style for message text box */
.inputMessage {
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px;
  padding: 8px; /* Padding for text input */
  margin: 5px 0 16px; /* Margin between text inputs */
  width: 594px;
  height: 95px;
}

/* Container for First name and Last name */
.lineWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 18px;
}

/* Container for Select*/
.customSelect {
  position: relative;
}

.select {
  background-color: white;
  width: 594px;
  height: 40px;
  margin: 5px 0 16px;

  border: 1px solid #ccc; /* Gray border */
  padding: 8px 48px 8px 16px;
  border-radius: 4px;
}

.selectDropdown {
  display: none;
  position: relative;
  right: 17.2px;
  top: 6px;

  background-color: #fff;
  border: 1px solid #ccc; /* Gray border */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 4px 4px;

  z-index: 1;
  width: 594px;
  height: 200px;
}

.selectDropdown li {
  padding: 8px 16px 8px 16px;
}

.selectDropdown li:hover {
  background-color: #f1f1f1;
}

/* Dropdown Arrow */
.customArrow {
  position: relative;
  left: 35.5rem;
  bottom: 2.5rem;
}
