.form {
  font-family: var(--font-body);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 40px 73px;
}

/* Style for short text box */
.inputShort {
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px;
  padding: 8px; /* Padding for text input */
  margin: 5px 0 16px; /* Margin between text inputs */
  width: 288px;
  height: 36px;
}

/* Style for long text box */
.inputLong {
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px;
  padding: 8px; /* Padding for text input */
  margin: 5px 0 16px; /* Margin between text inputs */
  width: 594px;
  height: 36px;
}

/* Style for message text box */
.inputMessage {
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px;
  padding: 8px; /* Padding for text input */
  margin: 5px 0 16px; /* Margin between text inputs */
  width: 594px;
  height: 95px;
}

/*Container for First name and Last name*/
.lineWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 18px;
}

.select {
  background-color: white;
  width: 594px;
  height: 40px;
  margin: 5px 0 16px;

  border: 1px solid transparent;
  border-color: #d8d8d8;
  padding: 8px, 48px, 8px, 16px;
}

.dropdown {
  /* position: relative; */
  /* bottom: 20px; */
}
