/* Style for text input */
.input {
  border: 1px solid #ccc; /* Gray border */
  padding: 8px; /* Padding for text input */
  margin: 5px 0; /* Margin between text inputs */
  width: 288px;
}

.lineWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 18px;
}

/**
input[type="text"] {
  border: 1px solid #ccc; 
  padding: 8px; 
  margin: 5px 0; 
}

textarea {
  border: 1px solid #ccc;
  outline: none;
  padding: 8px; 
  margin: 5px 0; 
}


input[type="text"]:focus,
textarea:focus {
  border: 1px solid #ccc; 
} 
**/
