/* Description styles */
.description {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 30px 96px; /* Adjusted margin for top/bottom and left/right */
}

.title {
  font: var(--font-small-subtitle);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}

.text {
  font: var(--font-body);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
