.headerBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 96px;

  position: fixed;
  width: 100%;
  height: 107px;

  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

/* Logo */
.logo {
  width: 196px;
  height: 69.54px;
  margin-right: auto;
}

/* Container for About Us, Get Involved, Our Impact, and Donate*/
.txtContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 48px;

  position: absolute;
  right: 96px;

  width: 570px;
  height: 48px;
}

.aboutUs {
  width: 90px;
  height: 24px;

  font: var(--font-body);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03rem;
  color: black;

  padding-bottom: 75px;
  margin-bottom: -50px;
}

.getInvolved {
  width: 109px;
  height: 24px;

  font: var(--font-body);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: black;

  padding-bottom: 75px;
  margin-bottom: -50px;
}

/* Our Impact */
.ourImpact {
  width: 98px;
  height: 24px;

  font: var(--font-body);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: black;

  padding-bottom: 75px;
  margin-bottom: -50px;
}

/* Dropdown styles for About Us */
.aboutUsDropdown {
  display: none;
  position: absolute;
  top: 77px;
  right: 425px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 168px;
  max-height: 156px; /* Set your preferred max height */
  overflow-y: auto; /* Enable vertical scroll if content exceeds max height */
}

.aboutUs:hover {
  color: #743eb6; /* Set your preferred hover color */
}

.aboutUs:hover .aboutUsDropdown,
.aboutUsDropdown:hover {
  display: block;
}

.aboutUsDropdown a {
  color: black;
  padding: 14px 48px 14px 24px;
  display: block;
  font: var(--font-body);
  font-size: 16px;
  font-weight: 300;
}

.aboutUsDropdown a:hover {
  background-color: #f1f1f1;
}

/* Dropdown styles getinvolved */
.getInvolvedDropdown {
  display: none;
  position: absolute;
  top: 77px;
  right: 250px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 202px;
  max-height: 156px;
  overflow-y: auto;
}

.getInvolved:hover {
  color: #743eb6;
}

.getInvolved:hover .getInvolvedDropdown {
  display: block;
}

.getInvolvedDropdown a {
  color: black;
  padding: 14px 48px 14px 24px;
  display: block;
  font: var(--font-body);
  font-size: 16px;
  font-weight: 300;
  white-space: nowrap;
}

.getInvolvedDropdown a:hover {
  background-color: #f1f1f1;
}

/* Dropdown styles Our Impact */
.ourImpactDropdown {
  display: none;
  position: absolute;
  top: 77px;
  right: 125px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 167px; /* Set your preferred width */
  max-height: 104px; /* Set your preferred max height */
  overflow-y: auto; /* Enable vertical scroll if content exceeds max height */
}

.ourImpact:hover {
  color: #743eb6; /* Set your preferred hover color */
}

.ourImpact:hover .ourImpactDropdown {
  display: block;
}

.ourImpactDropdown a {
  color: black;
  padding: 14px 48px 14px 24px;
  display: block;
  font: var(--font-body);
  font-size: 16px;
  font-weight: 300;
}

.ourImpactDropdown a:hover {
  background-color: #f1f1f1;
}

.menuBtn {
  display: none; /* Hide menu button by default */
}

.menuItems {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menuItems.open {
  display: block;
}

.menuBtn {
  display: none; /* Hide menu button by default */
}

/* Show tabs by default */
.tabs {
  display: flex;
  align-items: center;
}

/* Hide tabs on small screens */
@media (max-width: 1050px) {
  .menuBtn {
    display: block; /* Show menu button on smaller screens */
  }

  /* Hide tabs when menu button is clicked */
  .tabs {
    display: none;
  }
}
