.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  width: 248px;
  height: 249px;
  border-radius: 9999px;
  overflow: hidden;
  margin-bottom: 23px;
}

.name {
  font: var(--font-small-subtitle);
  font-size: 28px;
  line-height: 150%; /* 42px */
  letter-spacing: 0.56px;
}

.role {
  font: var(--font-body);
}
