.customRectangle {
  width: 401px;
  height: 434px;
  border-radius: 10px;
  background-color: var(--color-primary-purple);
  position: relative;
}

.circleWhite {
  width: 146.35px;
  height: 147px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  transform: translate(25%, 25%);
  overflow: hidden;
}

.centeredImage {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.RectangleTitle {
  font: var(--font-small-subtitle);
  font-size: 32px;
  font-weight: 480;
  line-height: 48px;
  letter-spacing: 3%;
  transform: translate(10%, 150%);
  color: white;
}

.BodytextInsideRectangle {
  text-align: left;
  font: var(--font-body);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  width: 85%;
  transform: translate(12%, 78%);
  color: white;
}
