.whiteCardContainer {
  border-radius: 10px;
  width: 1035px;
  height: 418px;
  background-color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dataContainer {
  /* position: relative; */
  width: 533px;
  height: 208px;
  gap: 12px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contentContainer {
  height: 418px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  margin: 100px;
  gap: 32px;
}

.cardTitle {
  margin: 4px;
  font: var(--font-small-subtitle);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */
  letter-spacing: 0.64px;
  text-align: center;
  color: #000000;
  justify-content: center;
}

.cardImageContainer {
  position: relative;
  width: 6.11vw;
  height: 6.11vw;
  overflow: hidden;
}

.cardDescription {
  margin: 4px;
  font: var(--font-body);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 37.01vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.imageContainer {
  width: 88px;
  height: 88px;
}
