@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap");

.backgroundImageContainer {
  position: relative;
  z-index: 0;
  margin-bottom: 100px;
}
.description {
  text-align: left;
  font: var(--font-body);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.whiteCardsContainer {
  position: absolute;
  top: 688px;
  left: 50%;
  transform: translateX(-50%);
}

.cardsBackground {
  height: 866px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px; /* Adjust the gap between items */
  background: #f9f9f9;
  margin-top: 400px;
  margin-bottom: 100px;
}

.sponsor_image {
  position: relative;
  width: 500px;
  padding-top: 40px;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.eventsListContainer {
  padding: 0px 96px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.buttonText {
  color: white;
  font: var(--font-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  letter-spacing: 0.4px;
}
