@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto+Slab:wght@100..900&display=swap");
.page {
  background: var(--Functional-Background, #f9f9f9);
}

.content {
  padding-left: 172px;
  padding-right: 111px;
  padding-top: 150px;
  padding-bottom: 145px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 128px;
}

.backgroundImageContainer {
  position: relative;
  z-index: 1;
}
