/* Styles for admin login screen */

.title {
  font: var(--font-body);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: #909090;
}

.subtitle {
  font: var(--font-title-l);
}
