.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 234px;
  margin-top: 50px;
}

.gridContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 100%;
  margin-top: 50px;
  margin-left: 140px;
  margin-bottom: 50px;
  gap: 50px;
}
