@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto+Slab:wght@100..900&display=swap");

.body {
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
  padding: 0px 98px 136px;
  background-color: #f9f9f9;
  color: black;
}
.bodyTitle {
  margin: 0;
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 24px;
}
