.card-container {
  width: 400px;
  height: 436px;
  background-color: white;
}

.card-container img {
  width: 400px;
  height: 200px;
}

.card-container h1 {
  width: 400px;
  font-size: 28px;
}

.card-container p {
  width: 400px;
  font-size: 14px;
}
