.cards {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-left: 202px;
  margin-right: 202px;
  margin-bottom: 136px;
}

.backgroundImageContainer {
  position: relative;
  z-index: 1;
}

.whiteCardsContainer {
  position: absolute;
  top: 557px;
  left: 0;
  z-index: 2;
}
