.cards {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-left: 202px;
  margin-right: 202px;
  margin-bottom: 136px;
}

.backgroundImageContainer {
  position: relative;
  z-index: 0;
  background-color: blue;
}

.whiteCardsContainer {
  position: absolute;
  top: 557px;
  /* left: 0; */
  z-index: 1;
  /* background-color: pink; */
}

.cardsBackground {
  height: 866px;
}
