@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto+Slab:wght@100..900&display=swap");

.cards {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-left: 202px;
  margin-right: 202px;
  margin-bottom: 136px;
}

.backgroundImageContainer {
  position: relative;
  z-index: 0;
}

.whiteCardsContainer {
  position: absolute;
  top: 688px;
  z-index: 1;
}

.cardsBackground {
  height: 866px;
}
