/* white-card.css */

/* white-card.css */

.white-card-container {
  width: 70%; /* 1035px / 1440px */
  height: 20%; /* 418px / 2184px */
  background-color: white;
  position: absolute;
  /*top: 15.4116%; /* Adjust as needed */
  left: 6.6667%; /* Adjust as needed */
  border-radius: 10px; /* Adjust as needed */
  padding: 5px; /* Adjust as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Include padding in the total width and height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title {
  position: relative;
  width: 13.6111%; /* 196px / 1440px */
  height: 2.1991%; /* 48px / 2184px */
  font-family: "Roboto Slab", sans-serif;
  font-size: 166.2222%; /* 32px / 1440px */
  font-weight: 700;
  line-height: 2.1991%; /* 48px / 2184px */
  letter-spacing: 0.02em;
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 10px; /* Adjust as needed */
  max-height: 18.75vh;
}
.card-image-container {
  position: relative;
  width: 9%;
  height: 9%;
  overflow: hidden;
}

.card-description {
  font-size: 1.2rem; /* Adjust as needed */
  color: #000000;
  max-width: 35%; /* Width limit for the text */
  max-height: 11%; /* Height limit for the text */
  display: flex; /* Enable flexbox for vertical centering */
  flex-direction: column; /* Arrange the text content in a column */
  justify-content: center; /* Center the text vertically */
  align-items: center; /* Center the text horizontally */
  text-align: center;
  margin-top: 3vh; /* 3% of the viewport height */
  max-height: 7.8vh;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-container {
  width: 167px;
  height: 48px;
  background-color: #743eb6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-text {
  color: white;
  font-size: 14px;
  font-weight: 600;
}
