.page {
  display: flex;
  flex-direction: column;
  gap: 103px;
  margin-top: 75px;
  margin-bottom: 143px;
  margin-left: 96px;
  margin-right: 96px;
}
.text {
  /* Your existing styles for .text */

  /* Add the following styles to position the button to the right */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
  /* Add any additional styling for the container if needed */
  margin-left: 30cm;

}


.description {
  text-align: left;
  font-family: var(--font-body);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  display: flex
}

.titlelarge {
  font-family: var(--font-small-subtitle);
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-align: left;
}

.text {
  font-weight: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 47px;
}


.description {
  text-align: left;
  font-family: var(--font-body);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.subtitle {
  font-family: var(--font-small-subtitle);
  font-size: 32px;
  font-weight: 700;
  line-height: 150%; /* 48px */
  letter-spacing: 0.64px;
  display: flex;
  
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 47px;
  margin-left: 99px;
  margin-right: 99px;
  margin-top: 53px;
  margin-bottom: 64px;
}

.containerCardsAndText {
  display: flex;
  flex-direction: row; /* Make the children stack horizontally */
  justify-content: space-between; /* Space out the children, pushing them to opposite ends */
  width: 100%; /* Ensure the container takes up the full width */
}